.wrapper {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: flex-start;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;

    background: #f7f7f7;
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#sidebar li {
    margin-bottom: 2px;
}

#sidebar li:before {
    content: "\2023";
    line-height: 0;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

figcaption {
    font-size: small;
    margin-bottom: 1em;
}

header {
  margin-top: 2rem;
}
